@import '/node_modules/flowbite-vue/dist/index.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BrandonGrostesque';
    src: url('@/assets/fonts/Brandon_Grostesque.otf') format('opentype');
}

body {
    font-family: 'BrandonGrostesque';
}